* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

body {
  background: linear-gradient(90deg, #afd9f7, #f0f2ff);
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  margin-top: 150px;
}

.back-link {
  position: absolute;
  top: 15px;
  left: 36px;
}

.back-link a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(30, 3, 128);
  text-decoration: none;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer__block {
  width: 150px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.time {
  background-color: #2987be;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 150px;
  font-size: 95px;
}
.title {
  background-color: #1859b8;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
}
.button {
  width: 150px;
  text-align: center;
  border: 1px solid #2987be;
  background-color: rgb(247, 244, 241);
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 30px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: #2987be;
}
.start,
.stop {
  color: #2987be;
}
.start:hover,
.stop:hover {
  background-color: #1859b8;
  color: white;
}
.pause:hover {
  background-color: rgb(233, 106, 2);
  color: white;
}

.new:disabled {
  background-color: none;
  color: darkgray;
  border: none;
  cursor: not-allowed;
}
.results__block {
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 300px;
  border: 1px solid #1859b8;
  color: #1859b8;
  font-size: 18px;
  padding: 15px;
  text-align: left;
}
.results__info {
  margin: 5px 0;
  text-align: left;
}
